body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243, 243, 243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HOMEPAGE ANIMATIONS */
.animate-welcome {
  padding-top: 20%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 10;
  color: black;
  font-size: 60px;
  animation-name: moveInRight;
  animation-duration: 2s;
  text-align: center;
  /* margin-right: 4%; */
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.animate-caption {
  font-family: 'Montserrat', sans-serif;
  font-weight: 10;
  color: black;
  letter-spacing: 4px;
  animation-name: captionAnimation;
  animation-duration: 3.2s;
  text-align: center;
  /* margin-right: 4%; */
}

@keyframes captionAnimation {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

/* NAVBAR STUFF */
nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  justify-content: space-between;
}

.rightLinks {
  display: flex;
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: 0.85em;
  margin-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.22em;
  font-weight: lighter;
  border-right: 1px solid rgb(204, 204, 204);
}

a {
  color: black;
}

.navlink:hover {
  font-size: 0.85em;
  margin-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.22em;
  font-weight: bold;
  border-right: 1px solid rgb(204, 204, 204);
}

#main-navlink {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.25em;
  border-right: 1px solid rgb(204, 204, 204);
}

/* MAINPAGE STUFF */
#mainPage {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  max-width: 90%;
  /* border: 2px solid; */
  margin: auto;
  margin-top: 90px;
}

#biography {
  margin-right: 3%;
  min-width: 30%;
}

#nameAndCaption {
  padding-bottom: 13%;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.nameAndCaption {
  letter-spacing: 0.2em;
  font-family: 'Raleway', Helvetica, sans-serif;
}

.bioName {
  font-weight: bold;
  font-size: 2em;
  margin-top: 1.2em;
  margin-bottom: none;
}

.emailAddress {
  border-bottom: 1px dotted;
  color: grey;
}

#bioAbout {
  margin-top: 8%;
}

.icon {
  padding-right: 12%;
}

.iconAbout {
  padding-right: 5%;
}

.buttons {
  margin-top: 40px;
  padding: 15px;
  border: 1px solid rgb(204, 204, 204);
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 0.25em;
}

.buttons:hover {
  margin-top: 40px;
  padding: 15px;
  border: 1px solid #4183c4;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 0.25em;
}

#alternatingPages {
  border: 1px solid rgb(204, 204, 204);
  background-color: white;
  min-width: 65%;
}

.caption {
  letter-spacing: 0.2em;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 600;
}

.pageHeader {
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 7%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pageContent {
  padding: 5%;
}

.resumeImg {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
}

/* PROJECTS */

.individualProject {
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 10%;
}

.divlab {
  background-image: url('/images/divlab.png');
  background-size: 100%;
}

.groover {
  background-image: url('/images/groover.png');
  background-size: 100%;
}

.graceShredder {
  background-image: url('/images/graceShredder.png');
  background-size: 100%;
}

.projectHeader {
  letter-spacing: 0.2em;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 0.8em;
  padding: 3%;
  border-bottom: 1px solid rgb(204, 204, 204);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
}

.projectFooter {
  margin-top: 50%;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.801);
}

.copyright {
  font-size: 0.6em;
}
